target
/Cargo.lock

# MacOS
.DS_Store

# Python
/.env
__pycache__

# VSCode
/.vscode

# Scallop
*.sclcmpl

generation-pipeline/data

model
data/*
benchmarks/data/MNIST
benchmarks/data/CLEVR/*
.tmp

!benchmarks/data/CLEVR/questions
benchmarks/data/CLEVR/questions/CLEVR_test_questions.json
benchmarks/data/CLEVR/questions/CLEVR_train_questions.json
benchmarks/data/CLEVR/questions/CLEVR_val_questions.json